/*
Paxina index.html
*/

body {
  margin: 0;
  font-family:Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #028152;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: white;
  color: black;
}

.topnav a.active {
  background-color: #333;
  color: white;
}


.centro1 h1{
  text-align: center;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #028152;
  color: white;
  text-align: center;
  margin-top: 20px;
}

/* 
Paxina login.html
*/
.body-login{
margin: 0;
font-family:Arial, Helvetica, sans-serif;
background-color: #c5e6d5;
}

.body-login h1 , h3, a{
text-align: center;
text-decoration: none;
color: black;
}
.login-container {
width: 400px;
height: 300px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border: 1px solid #ccc;
padding: 20px;
background-color: #8b8b8b;
}

/* 
Productos
*/
.card {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
max-width: 300px;
margin: auto;
text-align: center;
font-family: arial;
}

.price {
color: grey;
font-size: 22px;
}

.card button {
border: none;
outline: 0;
padding: 12px;
color: white;
background-color: #000;
text-align: center;
cursor: pointer;
width: 100%;
font-size: 18px;
}

.card button:hover {
opacity: 0.7;
}


/*
area personal
*/
.form_usuario {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f8f8f8;
}

.form_usuario form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.form_usuario p {
  text-align: center;
  font-size: 20px;
  color: #333;
}

.form_usuario label {
  display: block;
  margin-top: 10px;
  color: #666;
}

.form_usuario input[type="text"],
.form_usuario input[type="password"] {
  width:90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form_usuario select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form_usuario input[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #028152;
  cursor: pointer;
}

.form_usuario input[type="submit"]:hover {
  background-color: #000000;
}

#listado {
  font-family: Arial, sans-serif;
  margin: auto;
  width: 80%;
}

#listado table {
  width: 100%;
  border-collapse: collapse;
}

#listado th {
  background-color: #028152;
  color: white;
}

#listado td, #listado th {
  border: 1px solid #ddd;
  padding: 8px;
}

#listado tr:nth-child(even) {
  background-color: #f2f2f2;
}

#listado tr:hover {
  background-color: #ddd;
}
.categoria-container {
  display: flex;
  align-items: center; /* Centra verticalmente */
  margin-bottom: 20px; /* Espacio entre cada categoría */
}

.categoria {
  display: flex;
  align-items: center; /* Centra verticalmente */
  margin-right: 20px; /* Espacio entre la imagen y el nombre de la categoría */
}

.categoria img {
  width: 40px;
  height: 40px;
  margin-right: 10px; /* Espacio entre la imagen y el nombre de la categoría */
}

.columna1{
  width: 200px;
  margin-left: 20px;
  border-right: 1px solid #00814b;
  padding-right: 20px;
  margin-right: 20px; 
}

.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}